body {
    text-align: center;
    background-color: #f5fcc0;
}

video {
    border: 2px solid #000000;
    border-radius: 20px;
    width: 300px;
    height: auto;
}

table {
    width: 80%;
    margin: auto;
}

tr,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.AI {
    font-size: 18px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease;

}

.AI:hover {
    border-color: #008080;
    background-color: #ffdab9;
    transform: scale(1.05);
}

.DIV {
    background-color: rgba(0, 0, 0, 0.984);
    border: 3px solid #fd0000;
    border-radius: 15px;
    padding: 20px;
    display: inline-block;
    transition: all 0.3s ease;
}

.DIV:hover {
    background-color: rgba(173, 216, 230, 0.6);
    border-color: #88a6ff;
    transform: translateY(-5px);
}

.as {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-style: italic;
    color: #ffffff;
}

.AI-a {
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fd0000;
}

:hover.AI-a {
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #01ff38;
}
